.upload-success {

    &__content {
        padding: 0.5rem;
        background-color: #FFF;
        border: 0.538px solid #006600;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .App-dark & {
            background-color: #1E1E1E !important;
            color: #ececec !important;
        }
    }

    &__name {
        color: #006600;
        text-align: left;
        font-size: 12px !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 212px;

        .App-dark & {
            color: #ececec !important;
        }
    }

    &__msg-success {
        color: #006600;
        font-size: 11px;
        text-align: left;
    }

    .icon-x-circle {
        color: #006600;
        cursor: pointer;
        font-size: 14px;
    }
}