.chat-actions {
    &__box-acoes {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &__texto {
        font-size: 14px !important;
    }

    &__tres-pontos {
        font-size: 18px !important;

        .App-dark & {
            color: #cecece !important;
        }
    }
}